body {
    font-family: Helvetica, Arial, Sans-serif;
    margin: 0px;
    font-size: 1.25vw;
}   

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif; 
    /* If the name of the font is 2 words, use double quotes to link both words */
    width: 15%;
    text-shadow: 
    0.5px 0.5px 0px black, /* bottom-right shadow */
    -0.5px 0.5px 0px black, /* bottom-left shadow */
    0.5px -0.5px 0px black, /* top-right shadow */
    -0.5px -0.5px 0px black; /* top left shadow */
}

ul {
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

#main-header  {
    background-color: #fc616f;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    grid-area: header1;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 6px;
    border: 0.5px solid white;
    border-radius: 10%;
}

#nav-ul1 {
    display: flex;
    justify-items: auto;
}

#nav-ul1 > li {
    padding: 8px;
}

#secondary-header {
    background-color: #fed84f;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: header2;
}

.navbutton1 {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    border: 1.0px solid white;
    border-radius: 10%;
    justify-content: space-around;
}

#grid-container > section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#main1 {
    grid-area: main1;
}

#main2 {
    grid-area: main2;
}

#main3 {
    grid-area: main3;
}

#main4 {
    grid-area: main4;
}
 
#filter {
    grid-area: filter;
}

.filter {
    text-decoration: none;
}

form {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    background-color: #fc616f;
    display: flex;
    margin: 0px;
    grid-area: footer;
}

#footer-ul {
    display: flex;
    list-style: none;
    margin-top: 7%;
    text-align: justify;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

footer > h2 {
    font-family: "Fredoka One", sans-serif; 
    color: white;
    padding: 8px;
    text-shadow: 
    0.5px 0.5px 0px black, /* bottom-right shadow */
    -0.5px 0.5px 0px black, /* bottom-left shadow */
    0.5px -0.5px 0px black, /* top-right shadow */
    -0.5px -0.5px 0px black; /* top left shadow */
}

#star-pic1 {
    align-items: flex-start;
    max-width: 150%;
    max-height: 150%;
}

#star-pic2 {
    width: fit-content;
    height: fit-content;
}

section > nav > ul {
    margin: 0px;
}

#form {
    grid-area: form;
}

#grid-container {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: auto;
    grid-template-areas:
    "header1 header1 header1"
    "header2 header2 header2"
    "filter main1 main2"
    ". main3 main4"
    "form form form"
    "footer footer footer";
}